.container {
    height: 150px;
    width: 500px;
    border-radius: 5px;
    padding: 8px;
    border-style: double;
    border-color: lightblue;
    border-width: 2px;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }

.button {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .button:hover {opacity: 1}

  .simple-form {
    display: flex;
    overflow-y: scroll;
    padding-bottom: 1rem;
  }
  .simple-form input {
    margin: 0 .125rem;
    min-width: 100px;
    border: 1px solid #eee;
    border-left: 3px solid;
    border-radius: 5px;
    transition: border-color .5s ease-out;
  }
  .simple-form input:optional {
    border-left-color: #999;
  }
  .simple-form input:required {
    border-left-color: palegreen;
  }
  .simple-form input:invalid {
    border-left-color: salmon;
  }